<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.0-beta1" targetFramework="portable-win+net45+wp8+win8+wpa81+Xamarin.iOS10+MonoAndroid" />
  <package id="MvvmCross.PortableSupport" version="3.5.0-beta1" targetFramework="portable-win+net45+wp8+win8+wpa81+Xamarin.iOS10+MonoAndroid" />
</packages>